<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
    
    <appender name="consola" class="org.apache.log4j.ConsoleAppender">
        
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c %x - %m%n" />
        </layout>
    </appender>
    
    <appender name="archivoI" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/remedy/tomcat/Logs/NominaInfo.log" />
        <param name= "Append" value= "true" />
        <param name= "Threshold" value= "Info" />
        <param name= "DatePattern" value= "'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} %-5p - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="info"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter" />
    </appender>
    
    <appender name="archivoE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/remedy/tomcat/Logs/NominaERRv2.log" />
        <param name= "Append" value= "true" />
        <param name= "Threshold" value= "Error" />
        <param name= "DatePattern" value= "'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} %-5p - %m%n"/>
        </layout>
    </appender>
    
    <logger name="log4j.xml">
        <level value="debug" />
        <appender-ref ref="archivoI" />    
        <appender-ref ref="archivoE" />
    </logger>
    
    <root>
        <priority value="debug" />
        <appender-ref ref="consola"/>
        <appender-ref ref="archivoI" />
        <appender-ref ref="archivoE" />
    </root>    
</log4j:configuration>
